.menu
{
    background-color:rgb(144, 184, 230);
    padding: 30px 35px;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-weight: bold;
}
.submenu
{
    float: right;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    color:salmon;
}
.search
{
       text-align: center;
       margin-top: 40px;

}
.search button{
text-align: center;
margin-top: 40px;
}
.searchpage
{
    font-family: 'Franklin Gothic Medium';
    color:darkred;
    font-size: 40px;
    font-weight: bold;
}
.image
{
    margin-top: 20px;
    text-align: center;
    padding:20px 25px;
}
.homepage
{
    font-family: 'Segoe UI';
    font-size: 40px;
    font-weight: bold;
    color: lightgray;
}
.login
{
    text-align: center;
    background-color: blueviolet;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 35px;
    margin: 2px black;
}
.content
{
    text-align: center;
    margin-top: 10px;
    color:lightgoldenrodyellow;
    font-size: 30px;
    font-weight: bold;
}
.account
{
    text-align: center;
    margin-top: 20px;
}
.loginbutton
{
    text-align: center;margin-top: 20px;
}
.list{
    text-decoration: none;
    color: darkgoldenrod;
}
.list a{
    text-decoration:none ;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}
.references
{
    font-weight: bold;
    font-size: 30px;
    font-family:'Arial Narrow Bold';
}